@using SciencesTechnology.ViewModels.Dashboard
@model CourseViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>@ViewData["Title"]</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-area="Dashboard" asp-controller="Courses" asp-action="Create" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="2" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="row form-group">
                <div class="col-6">
                    <label asp-for="DepartmentId" class="control-label">Department</label>
                    <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.Departments"></select>
                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                </div>
                <div class="col-6">
                    <label asp-for="Credits" class="control-label"></label>
                    <input asp-for="Credits" type="number" min="0" max="10" step="1" class="form-control" />
                    <small class="form-text text-muted">Enter a value between 0 and 10.</small>
                    <span asp-validation-for="Credits" class="text-danger"></span>
                </div>
            </div>
            
            <div class="row form-group">
                <div class="col-6">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input asp-for="StartDate" class="form-control" type="date" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="col-6">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input asp-for="EndDate" class="form-control" type="date" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
            </div>
            
            <div class="form-group">
                <div class="form-check">
                    <input asp-for="IsActive" type="checkbox" class="form-check-input" />
                    <label asp-for="IsActive" class="form-check-label">Is Active?</label>
                </div>
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseImagePath" class="control-label">Course Image</label>
                <input type="file" name="imageFile" class="form-control" />
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

