
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    if (user != null)
    {
        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">

            @if (user.ProfileImagePath != null)
            {
                <img src="@user.ProfileImagePath" alt="Profile Picture" class="rounded-circle" style="width: 50px; height: 100px;" />
            }
            else
            {
                <img src="~/assets2/img/default-profile.png" alt="Profile Picture" style="width: 50px; height: 100px;" />
            }

            <span class="d-none d-md-block dropdown-toggle ps-2">@user.FirstName @user.LastName</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
                <h6>@user.FirstName</h6>
                <span>User</span>
            </li>
            <li>
                <hr class="dropdown-divider" />
            </li>
            <li>
                <a class="dropdown-item d-flex align-items-center" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <i class="bi bi-person"></i>
                    <span>My Profile</span>
                </a>
            </li>
            <li>
                <hr class="dropdown-divider" />
            </li>
            <li>
                <form class="dropdown-item d-flex align-items-center" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="~/" method="post">
                    <button type="submit" class="btn btn-link p-0 d-flex align-items-center">
                        <i class="bi bi-box-arrow-right"></i>
                        <span class="ms-2">Sign Out</span>
                    </button>
                </form>

            </li>
        </ul>
    }
}
